* {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: cornflowerblue;
}
#page {
    width: 100%;
}
.info {
    float: left;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}

.info.playerl {
    width: 33.333%;
}

.info.aandebeurt {
    width: 33.333%;
    background-color: #ffb8f5;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 4px solid black;
}


.info.playerr {
    width: 33.333%;
}

.info.playerr, .info.playerl {
    width: auto;
    height: auto;
    border: 5px solid black;
    background-color: #ffea8f;
}

.memory-game {
    width: 1200px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    transform: scale(1);
    perspective: 1000px;
}

.memory-card {
    width: calc(16.66% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.voorkant,
.achterkant {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    background-color: lightblue;
    backface-visibility: hidden;
}

.voorkant {
    transform: rotateY(180deg);
}